
.content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;

}

.smallTxt {
    font-size: 10px;
}

a:link {
    color: maroon;
}

.actionBar {
    vertical-align: bottom;
    color: maroon;
    float: right;
    display: inline-block;
}

.divider {
    width: 100%;
    border-bottom: 1px solid maroon;
}

.emphasize {
    font-variant: small-caps;
    font-weight: bold;
}

.header {
    height: 25px;
    background-color: #d2b48c;
    border-bottom: 1px solid black;
    text-align: left;
    padding-left: 5px;
    font-weight: bolder;
}

input[type="submit"] {
    margin: 5px 5px 5px 5px;
    background: silver;
}

.column0 {
    text-align: right;
}

.column1 {
    text-align: left;
}